@import 'utils/variables';
@import 'components/type';


/* MEDIA QUERIES */

@media screen and (min-width: $tablet) {
    
    body{
        padding: 25px;
    }

    /* HEAD */

    .logo_DP_min{
        width: 10%;
    }

    /* MAIN */

    .main{

        p{
            width: 100%;
        }
    }
    
}

@media screen and (min-width: $med-screen) {
    
    body{
        display: block;
        font-size: 20px;
        padding: 0;

    }

    /* HEAD */

    .logo_DP{
        width: 15vw;
    }

    .logo_DP_min{
        display: none;
    }

    .logo_DP--const{
        width: 4%;
        z-index: 3;
        margin-top: 50px;
        margin-left: 150px;
    }
    .logo_link{
        display: block;
    }

    .logo_link--const{
        position: relative;
        top: 0;
        left: 0;
        width: 30%;
        z-index: 3;
    }

    


    /* MAIN */

    .mob-tab{
        display: none;
    }

    .desk{
        display: flex;
        flex-direction: column;
        align-content: space-around;
        padding: 0px 150px 50px 150px;
    }

    .sect{

        &--01{
            margin-bottom: 300px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 100vh;

            .const-illu{

                width: 40%;

                .st0{
                    stroke: rgba(255, 255, 255, 0.1);
                    stroke-width: 2px;
                    fill: transparent;
                }

                .st2{
                    color: red;
                }
                
            }
        }

        &--02{
            margin-bottom: 300px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;

            .box-info{
                width: 100%;
            }

            .box-info-img{
                width: 80%;
            }
        }

        &--03{
            margin-bottom: 300px;
            
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        
    }

    .article{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        max-width: 50%;

    }

    .btn_explore{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin: 60px 0;
        width: 200px;
        height: 45px;
        border: none;
        border-radius: 30px;
        background-color: $c-hover;
        font-size: 25px;
        font-family: 'Comfortaa';
        color: #000;
        font-weight: bold;
        

        &:hover{
            background-color: #F88D69;
        }

    }

    

    
    .const-filters{
        width: 30%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        margin: 50px 150px;
        left: 0;
        bottom: 0;
        background-color: $c-box;
        list-style: none;
        border-radius: 8px;
        padding: 1rem;
        z-index: 1;


    }

    .checkbox{
        margin-right: 3px;
        -webkit-appearance: none;
        background-color: #fafafa;
        border: 1px solid $c-visited;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
        padding: 9px;
        border-radius: 3px;
        display: inline-block;
        position: relative;
    }

    .checkbox:active, .checkbox:checked:active {
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
    }

    .checkbox:checked {
        background-color: $c-visited;
        border: 1px solid $c-visited;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
        color: #99a1a7;
    }

    .checkbox:checked:after {
        content: '\2714';
        font-size: 14px;
        position: absolute;
        top: 0px;
        left: 3px;
        color: #fff;
    }

    /* box info */
    
    .star{
        color: white;
        display: none;
    }
    
    .star--active{
        user-select: none;
        display: block;
        position: fixed;
        right: 10vw;
        left: auto;
        background-color: $c-box;
        border-radius: 8px;
        width: 40%;
        height: 60%;
        padding: 2rem;

        .title--med{
            margin-bottom: 25px;
        }
    }

    .list_info{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .chiffre{
        width: 30%;
    }

    .chiffre_list, .info_list{
        list-style: none;
    }

    

    /* FOOTER */

    .footer{
        padding: 60px 150px 40px 150px;
        width: 100vw;
        position: fixed;
        bottom: 0;
        left: 0;
        background-image: url(../../assets/images/wave.svg);
        background-size: cover;
    }



}

@media screen and (min-width: $big-screen) {
    body{
        font-size: 25px;
    }
}
    
    
    
