@import 'utils/variables';
@import 'components/type';


/* MEDIA QUERIES */

@media screen and (min-width: $tablet) {
    
    body{
        padding: 25px;
    }

    /* HEAD */

    .logo_DP_min{
        width: 10%;
    }

    /* MAIN */

    .main{

        p{
            width: 100%;
        }
    }
    
}

@media screen and (min-width: $med-screen) {
    
    body{
        display: block;
        font-size: 20px;
        padding: 0;

    }



    /* HEAD */

    .logo_DP{
        width: 15vw;
    }

    .logo_DP_min{
        display: none;
    }

    .logo_DP--const{
        width: 4%;
        z-index: 3;
        margin-top: 50px;
        margin-left: 150px;
    }
    .logo_link{
        display: block;
    }

    .logo_link--const{
        position: relative;
        top: 0;
        left: 0;
        width: 30%;
        z-index: 3;
    }

    


    /* MAIN */

    .mob-tab{
        display: none;
    }

    .desk{
        display: flex;
        flex-direction: column;
        align-content: space-around;
        padding: 0px 150px 50px 150px;
    }

    .rt0{
        clip-path:url(#SVGID_2_);
    }

    .rt1{
        fill:none;
        animation-duration: 6s;
        stroke-dasharray:1 60;
        stroke:#FFFFFF;
        animation: constella linear infinite; 
    }
    
    @keyframes constella {
        
        0% {
            stroke-dasharray:1 60; 
        }
        25% {
            stroke-dasharray:4 60; 
        }
        50% {
            stroke-dasharray:5 30; 
        }
        95% {
            stroke-dasharray:6 15;  
        }
        100% {
            stroke-dasharray:6 15;  
        }
    }

    .rt2{
        fill:#1DBAE1;
    }

    .sect{

        &--01{
            margin-bottom: 300px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 100vh;

            .const-illu{

                width: 40%;

            }
        }

        &--02{
            margin-bottom: 300px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;

            .box-info{
                width: 100%;
            }

            .box-info-img{
                width: 80%;
            }
        }

        &--03{
            margin-bottom: 300px;
            
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        
    }

    .article{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        max-width: 50%;

    }

    .btn_explore{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin: 60px 0;
        width: 200px;
        height: 45px;
        border: none;
        border-radius: 30px;
        background-color: $c-hover;
        font-size: 25px;
        font-family: 'Comfortaa';
        color: #000;
        font-weight: bold;
        transition: all 200ms;
        

        &:hover{
            background-color: #f8b669;
        }

    }

    

    
    .const-filters{
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        margin: 50px 150px;
        left: 0;
        bottom: 0;
        background-color: $c-box02;
        list-style: none;
        border-radius: 8px;
        padding: 1rem;
        z-index: 1;
    }

    .const-filters__el{
        display: none;

        &--active{
            display: block;
        }
    }



    .checkbox{
        margin-right: 3px;
        -webkit-appearance: none;
        background-color: #fafafa;
        border: 1px solid #fafafa;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
        padding: 9px;
        border-radius: 3px;
        display: inline-block;
        position: relative;
    }

    .checkbox:active, .checkbox:checked:active {
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
    }

    .checkbox:checked {
        background-color: $c-visited;
        border: 1px solid $c-visited;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
        color: #99a1a7;
    }

    .checkbox:checked:after {
        content: '\2714';
        font-size: 14px;
        position: absolute;
        top: 0px;
        left: 3px;
        color: #fff;
    }

    .team_link{
        color: white;
    }

    /* box info */
    
    .star{
        color: white;
        display: none;
        position: fixed;
        right: 5vw;
        left: auto;
        background-color: $c-box02;
        border-radius: 8px;
        max-width: 45vw;
        padding: 2rem;
        user-select: none;
    }
    
    .star--active{
        display: block;
    }
    .const-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .consttitles{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding-bottom: 30px;
        &__name{
            margin: 0;
            color: white;
            font-family: "Comfortaa";
        }

        &__latinname{
            margin: 0 0 0.25rem 10px;
            color: $c-hover;
        }

    }

    .box_infos{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        
    }

    .chiffre{
        width: 30%;
    }

    .chiffre_list{
        list-style: none;

        .title--info{
            font-weight: 300;
        }
    }

    .chiffre_list_El{
        padding-bottom: 1.5rem;

        &:last-of-type{
            padding-bottom: 0;
        }
    }

    .highlight{
        color: $c-hover;
        font-weight: bold;
    }

    .infos-container{
        width: 60%;
        max-height: 46vh;
        overflow-y: scroll;
        padding-right: 1rem;
    }

    .infos{
        font-size: 20px;
        line-height: 27px;
        font-weight: 300;

    }

    

    /* FOOTER */

    .footer{
        padding: 60px 150px 40px 150px;
        width: 100vw;
        position: fixed;
        bottom: 0;
        left: 0;
        background-image: url(../../assets/images/wave.svg);
        background-size: cover;
    }

    .team_link{
        color: #FFFFFF;

        &:visited{
            color: #f8b669;
        }
    }



}

@media screen and (min-width: $big-screen) {
    body{
        font-size: 25px;
    }

    
}
    
    
    
