@import 'utils/variables';
@import 'components/type';


/* MEDIA QUERIES */

@media screen and (min-width: $tablet) {
    
    body{
        padding: 25px;
    }

    /* HEAD */

    .logo_DP_min{
        width: 10%;
    }

    /* MAIN */

    .main{

        p{
            width: 100%;
        }
    }
    
}

@media screen and (min-width: $med-screen) {
    
    body{
        display: block;
        font-size: 20px;
        padding: 0;

    }

    /* LOADER */

    .vis-hidden{
        opacity: 0;
    }

    .loader{
        font-family: 'Comfortaa';
        z-index: 10;
        position: absolute;
        width: 100vw;
        height: 100vh;
        background: $c-box02;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 1s ease-out;
    }    

    .letter{
        color: $c-bg;
        font-size: 45px;
        letter-spacing: 15px;
        margin-bottom: 100px;
        animation: flash 1.2s ease-in-out infinite;
    }
    
    .texte{
        color: $c-bg;
        font-size: 45px;
        letter-spacing: 15px;
        margin-bottom: 100px;
    }
    
    @keyframes flash{
        0%{
            transform: translateY(0px);
            
        }
        50%{
            transform: translateY(-20px);
           
            
        }
        100%{
            transform: translateY(0px);
               
        }
    
    } 
    

    
    .letter:nth-child(1){
        animation-delay: 0.5s;
    }
    .letter:nth-child(2){
        animation-delay: 0.75s;
    }
    .letter:nth-child(3){
        animation-delay: 1s;
    }
    
    .fondu-out{
        opacity: 0;
        transition: opacity 0.4s ease-out;
    }





    /* HEAD */

    .logo_DP{
        width: 15vw;
    }

    .logo_DP_min{
        display: none;
    }

    .logo_DP--const{
        width: 5vw;
        max-width: 50px;
        z-index: 3;
        margin-top: 50px;
        margin-left: 160px;
    }
    .logo_link{
        display: block;
    }

    .logo_link--const{
        position: relative;
        top: 0;
        left: 0;

        z-index: 3;
    }

    


    /* MAIN */

    .mob-tab{
        display: none;
    }

    .desk{
        display: flex;
        flex-direction: column;
        align-content: space-around;
        padding: 0px 150px 50px 150px;
    }

    .rt0{
        clip-path:url(#SVGID_2_);
    }

    .rt1{
        fill:none;
        stroke-dasharray: 0; 
        stroke:#FFFFFF;
        animation: constella ease-in infinite; 
        animation-duration: 16s;
    }
    
    @keyframes constella {
        
        0% {
            stroke-dasharray:1 60;
            opacity: 0;
        }

        25%{
            opacity: 0.75;
        }

        50% {
            stroke-dasharray:350 0;  
            opacity: 1;
        }
        75% {
            stroke-dasharray:350 0;  
            opacity: 1;
        }

        82%{
            opacity: 0.75;
        }

        100% {
            stroke-dasharray:1 60;
            opacity: 0;
        }
    }

    .rt2{
        fill:#1DBAE1;
    }

    .sect{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        overflow: hidden;

        &--01{
            margin-bottom: 300px;
            height: 100vh;


            .const-illu{

                width: 40%;

            }
        }

        &--02{
            margin-bottom: 300px;
            flex-direction: row-reverse;

            &-image,&-article{
                opacity: 0;
                transform: translateY(90px);
            }

        }

        &--03{
            margin-bottom: 300px;

            &-image,&-article{
                opacity: 0;
                transform: translateY(90px);
            }

            .box-info-img{
                width: 80%;
            }
        }
        
    }

    .article{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        max-width: 50%;

    }

    .image{
        max-width: 35vw;
    }


    /* BTN EXPLORE */

    .btn_explore{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin: 60px 0;
        width: 200px;
        height: 45px;
        border: 1px solid $c-hover;
        border-radius: 30px;
        font-size: 25px;
        font-family: 'Comfortaa';
        color: $c-bg;
        font-weight: bold;
        overflow: hidden;
        transition: 1s all ease; 

    }

    .btn_explore::before{
        background: $c-hover;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: -1;
        transition: all 0.6s ease;
    }

    .btn-hover::before{
        width: 100%;
        height: 0%;
        transform: translate(-50%,-50%) rotate(-45deg);
    }

    .btn-hover:hover::before{
        height: 380%;
    }

    .btn-hover:hover{
        color: #000;
    } 



    .map{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    
    .const-filters{
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        margin: 50px 150px;
        left: 0;
        bottom: 0;
        background-color: $c-box02;
        list-style: none;
        border-radius: 8px;
        padding: 1rem;
        z-index: 1;
    }

    .const-filters__el{
        padding-left: 25px;
        display: none;
        cursor: pointer;
        &--active{
            display: block;
        }

        input,label{
            cursor: pointer;
        }
    }

    .filter-trigger{
        width: 35px;
        height: 35px;
        padding: 0;
        background-color: transparent;
        border: none;
        cursor: pointer;

        .filtre_ico{
           width: 35px;
           height: 35px;
           cursor: pointer;
        }
    }


    .checkbox{
        margin-right: 3px;
        -webkit-appearance: none;
        background-color: #fafafa;
        border: 1px solid #fafafa;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
        padding: 7px;
        border-radius: 3px;
        display: inline-block;
        position: relative;
    }

    .checkbox:active, .checkbox:checked:active {
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
    }

    .checkbox:checked {
        background-color: $c-visited;
        border: 1px solid $c-visited;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
        color: #99a1a7;
    }

    .checkbox:checked:after {
        content: '\2714';
        font-size: 11px;
        position: absolute;
        top: 0px;
        left: 3px;
        color: #fff;
    }

    .team_link{
        color: white;
    }

    /* box info */
    
    .star{
        color: white;
        display: none;
        position: fixed;
        right: 5vw;
        left: auto;
        background-color: $c-box02;
        border-radius: 8px;
        max-width: 45vw;
        padding: 2rem;
        user-select: none;
    }
    
    .star--active{
        display: block;
    }

    .const-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .consttitles{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding-bottom: 30px;
        &__name{
            margin: 0;
            color: white;
            font-family: "Comfortaa";
        }

        &__latinname{
            margin: 0 0 0.25rem 10px;
            color: $c-hover;
        }

    }

    .close_info-box{
        width: 25px;
        height: 25px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        opacity: 0.6;
        transition: ease 200ms;

        &:hover{
            opacity: 1;
        }

        .close_ico{
            width: 100%;

        }
    }

    .box_infos{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        
    }

    .chiffre{
        width: 30%;
    }

    
    .chiffre_list{
        list-style: none;
        
        .title--info{
            font-weight: 300;
        }
    }
    
    .chiffre_list_El{
        padding-bottom: 1.5rem;
        
        &:last-of-type{
            padding-bottom: 0;
        }
    }
    
    .chiffre-title{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .moreinfo{
        border-radius: 50%;
        width: 15px;
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        outline: none;
        border: none;
        background: transparent;
        margin-top: -10px;
        font-weight: 600;
        font-size: 12px;
        opacity: 0.6;
        font-family: 'Comfortaa';
        color: $c-hover;
        cursor: pointer;
        text-decoration: none;
        transition: 200ms ease;
    
        &:hover{
            opacity: 1;
        }
    }
    .highlight{
        color: $c-hover;
        font-weight: bold;
    }

    .infos-container{
        width: 60%;
        max-height: 46vh;
        overflow-y: scroll;
        padding-right: 1rem;
    }

    .infos{
        font-size: 20px;
        line-height: 27px;
        font-weight: 300;

    }

    

    /* FOOTER */

    .footer{
        padding: 60px 150px 40px 150px;
        width: 100vw;
        position: fixed;
        bottom: 0;
        left: 0;
        background-image: url(../../assets/images/wave.svg);
        background-size: cover;
    }

    .team_link{
        color: #FFFFFF;

        &:visited{
            color: #f8b669;
        }
    }



}





@media screen and (min-width: $big-screen) {
    body{
        font-size: 25px;
    }

    
}
    
    
    
