@import 'components/type';
@import 'utils/variables';


::-webkit-scrollbar {
    width: 5px;
    height: 13px;
   }
   ::-webkit-scrollbar-thumb {
    background: #2f2b99;
    border-radius: 10px;
    transition: all 200ms;
   }
   ::-webkit-scrollbar-thumb:hover{
    background: #3F37C9;
    transition: all 200ms;
   }
   ::-webkit-scrollbar-track{
    background: rgba(255, 255, 255, 0);
   }
   
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow: overlay;
    width: 100%;
    padding: 20px;
    height: 100vh;
    font-size: 16px;
    color: $c-bg;

    background-image: url(/assets/images/bg_acc.png);
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* header */

.navbar{
    position: fixed; /* Make it stick/fixed */
    top: 50px;
    left: 150px; 
    transition: top 0.3s;
    z-index: 100;
}

.logo_DP_min{
    
    width: 20%;
}

.logo_link{
    display: none;
}


/* main */

.mob-tab {
    text-align: center;

    .title--big, h2{
        color: $c-hover;
    }

    h2, .bold{
        font-weight: bold;
    }
}

.desk{
    display: none;
}



/* footer */

.footer{
    width: 100%;
}

.footer_list{
    
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    
}

.DWM_list{
    list-style: none;

}

.logoDWM{
    height: 20px;
}

.DWM_El{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.team_list{
    list-style: none;
    text-align: right;
    line-height: 1;
    display: flex;
    flex-direction: row;
}

.team_El{
    margin-left: 20px;
}

.copyright{
    font-size: 0.8rem;
    text-decoration: none;
    font-family: 'Comfortaa';
    color: $c-bg;
    transition: all 200ms;
}

.team_link{
    font-size: 0.8rem;
    text-decoration: none;
    font-family: 'Comfortaa';
    font-weight: 600;

    transition: all 200ms;

    &:hover{
        color: $c-hover;
        text-decoration: underline;
    }

    &:visited{
        color: $c-visited;
    }
}


small{
    color: $c-bg;
}


/* APP.SCSS */


.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  circle{
      fill: black;
  }

.svg {
    width: 300vw;
     background-image: url(/assets/images/bg_acc.png);
    background-size: repeat;
}
*{
    padding: 0;
    margin: 0;
}


.st0{
    stroke: rgba(255, 255, 255, 0.1);
    stroke-width: 0px;
    fill: transparent;
    stroke-dasharray: 1px 5px;
    stroke-linecap: 'butt';

}

[data-name]{
    opacity: 0.7;
    transition: all 0.3s;
}

[data-name]:hover{
    opacity: 1;
}

.st0:hover{
    stroke-width: 1px;
    stroke: #03637a;
    cursor: pointer;
}

/* Traits */
.st1{
    fill: #ffffff;
}

/* Étoiles 1 */
.st2{
    fill: #1DBAE1;
}

/* Étoiles 2 */
.st3{
    fill: #009fc7;
}

/* Traits 2 */
.st4,.st5{
    fill:none;
    stroke:#ffffff;
    stroke-miterlimit:10;
}

.st5{
    stroke-linecap:square;
    stroke-linejoin:round;
}

.not-selected{
    opacity: 0.1;
}

