@use 'components/type';
@use 'utils/variables';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 20px;
    height: 100vh;
    font-size: 16px;
    color: $c-bg;

    background-image: url(/assets/images/bg_acc.png);
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* header */

.logo_DP_min{
    width: 20%;
}

.logo_link{
    display: none;
}


/* main */

.mob-tab {
    text-align: center;

    .title--big, h2{
        color: $c-hover;
    }

    h2, .bold{
        font-weight: bold;
    }
}




/* footer */

.footer{
    width: 100%;
}

.footer_list{
    
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    
}

.DWM_list{
    list-style: none;
}

.logoDWM{
    width: 100%;
}


.team_list{
    list-style: none;
    text-align: right;

}

.team_link{
    color: $c-bg;
}

.team_link:hover{
    color: $c-hover;
}

.team_link:visited{
    color: $c-visited;
}


small{
    color: $c-bg;
}


/* MEDIA QUERIES */

@media screen and (min-width: 700px) {
    
    body{
        padding: 25px;
    }

    /* HEAD */

    .logo_DP_min{
        width: 10%;
    }

    /* MAIN */

    .main{

        p{
            width: 100%;
        }
    }
    
}

@media screen and (min-width: 1250px) {
    
    body{
        display: block;
        padding: 50px 100px;
    }

    /* HEAD */

    .logo_DP_min{
        display: none;
    }

    .logo_link{
        display: block;
        width: 100%;
    }


    /* MAIN */

    .mob-tab{
        display: none;
    }


}