@import 'utils/variables';


body {
  font-family: sans-serif;
  font-size: $size-text;
  line-height: 1.5;
  color: $c-bg;
}

.title {
  color: $c-alt;

  &--big{
    font-size: 85px;
    text-transform: uppercase;
    font-weight: bold;
    color: $c-bg;
  }

}


