@import 'utils/variables';
@import 'components/type';
@import 'components/settingUp';
@import 'components/media';


#stars{
.map__starscontainer{
    width: 300vw;
    position: fixed;
    z-index: 0;
}

#stars > i {
.map__starscontainer,.desk > i {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px #fff, 
                0 0 15px #fff, 
                0 0 25px #fff;
    animation: animate linear infinite; 
}

@keyframes animate {
    
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.75;
        opacity: 0.35;
    }
    95% {
        opacity: 0.75;
        opacity: 0.35;
    }
    100% {
        opacity: 0;
    }
}